/****************************************
GENERAL SETUP
****************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{margin:0;padding:0;font-family:"Roboto", sans-serif;}
:root {--nav-color: #01FF70;}

/****************************************
BACKGROUND IMAGE
****************************************/

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    /* fullscreen background img */
    background-image:
        linear-gradient(90deg, rgb(75, 108, 183, 0.2), rgb(24, 40, 72, 0.6)),
        url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/****************************************
NAVIGATION OPEN
****************************************/

.navbar {
    /* visible navbar dimensions */
    background-color: #111;
    width: 330px;
    height: 100%;
    /* move to top-right */
    position: fixed;
    top: 0;
    right: 0;
    /* center list items */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hide the navbar before toggle */
.navbar {
    right: -330px;
    /* smooth navbar open transition */
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

/* show the navbar after toggle */
.toggle-change {
    right: 0px;
}

/****************************************
HAMBURGER ICON
****************************************/

/* size, location, spacing */
.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    /* space between lines */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* style three lines */
.line {
    width: 100%;
    height: 3px;
    background-color: var(--nav-color);
    /* hamburger toggle speed to add later */
    transition: all 0.6s;
}

/****************************************
HAMBURGER "X"
****************************************/

/* rotate lines to make an "x" on .toggle-change (javascript) */
.toggle-change .line-1 {transform: rotateZ(-45deg) translate(-8px, 6px);}
.toggle-change .line-3 {transform: rotateZ(45deg) translate(-8px, -6px);}
/* hide the middle line */
.toggle-change .line-2 {opacity: 0;}

/*************************************
LIST ITEMS (NAVBAR)
*************************************/

/* align items right */
.nav-list {
    text-align: right;
}

/* list item padding */
.nav-item {
    list-style: none;
    margin: 50px;
}

/* link element styling */
.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #eee;
    /* setup for before/after children (lines) */
    position: relative;
    padding: 5px 0;
}

/*************************************
LINK EFFECTS (NAVBAR)
*************************************/

/* create lines above/below links (highlight) */
.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--nav-color);
    /* define position so width and height are applicable */
    position: absolute;
    left: 0;
    /* hide link highlight before hover */
    transform: scaleX(0);
    transition: transform 0.4s;
}

/* ensure "content" is correctly placed */
.nav-link::after {bottom: 0;}
.nav-link::before {top: 0;}

/* show nav links on hover */
.nav-link:hover::before {transform: scaleX(1);}
.nav-link:hover::after {transform: scaleX(1);}

/* make lines come from opposite sides */
.nav-link::after {transform-origin: right;}
.nav-link::before {transform-origin: left;}

